body {
    font-family: Loto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

#navbar {
position: sticky;
top: 0;
overflow: hidden;
background-color: #333;
}

/* Navbar links */
#navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px;
text-decoration: none;
}

/* The progress container (grey background) */
.progress-container {
    position: sticky;
    width: 100%;
    height: 8px;
    background: #ccc;
    z-index : 1;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
}


/* Style the tab */
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 120;
    left: 10;
    background-color: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #2196F3;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #064579;
}

/* Active link styling */
.sidenav a.active {
    color: #064579;
    font-weight: bold;
}

/* Style page content */
.main {
    margin-left: 140px;
    padding: 0px 10px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 16px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

/* On smaller screens */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 14px;
    }
}
