body {
    font-family: Loto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

#navbar {
position: sticky;
top: 0;
overflow: hidden;
background-color: #333;
}

/* Navbar links */
#navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px;
text-decoration: none;
}

/* The progress container (grey background) */
.progress-container {
    position: sticky;
    width: 100%;
    height: 8px;
    background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
}


/* Style the tab */
.tab {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 20;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    float: none;

}

/* Change background color of buttons on hover */
.tab button:hover {
    color: #f1f1f1;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #04aa6d;
    color: #f1f1f2;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 16px;
    margin-left: 160px;
    border: 1px solid #ccc;
}

/* Page content */
.content {
    margin-left: 160px;
    padding: 16px;
}

nav a {
    color: #007BFF;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

/* On smaller screens */
@media screen and (max-height: 450px) {
    .tab {
        padding-top: 15px;
    }
    .tab button {
        padding: 6px 8px 6px 16px;
        font-size: 14px;
    }
}
